/*
Good place to choose colours from: https://www.materialui.co/colors
*/

/* size of the tabs itself, don't have to adjust this*/
#MainTabPane {
  -fx-tab-min-width:170px;
  -fx-tab-min-height:35px;
}

/* background colour of tabs*/
#MainTabPane .mainTab
{
    -fx-background-color: #c0c0c0;
}

/* font inside the tabs*/
#MainTabPane .mainTab .tab-label {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

#MainTabPane .mainTab:hover { 
    -fx-cursor: hand;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 3, 0.0 , 0 , 2 );
}

#MainTabPane .mainTab:selected { 
    -fx-background-color: #3F51B5;
}

/* font inside the selected tab*/
#MainTabPane .mainTab:selected .tab-label { 
    -fx-text-fill: #FFFFFF;
}

/* background colour of the whole program*/
.loginBackground {
    -fx-background-color: #eeeeee;
    -fx-background-image: url("login.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 600 400;
    -fx-background-position: center center;
}

.mainBackground {
    -fx-background-image: url("background.jpg");
    -fx-background-size: contain;
    -fx-background-position: center center;
}

/* colour of the any text with emphasis
.bold {
     -fx-text-fill: #283593;
}*/

#customerTabPane .tab-header-area .tab-header-background {
    -fx-background-color: none;
}

.errorText {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

/*.button {
    -fx-background-color: #1E88E5;
    -fx-text-fill: #FFFFFF;
}*/

/*.button:hover {
    -fx-cursor: hand;
}*/

.loginBtn {
    -fx-background-color: #2196F3;
}

.logout {
    -fx-background-color: #b71c1c;
}

.logout:hover {
    -fx-background-color: #ff3d00;
    -fx-cursor: hand;
}
.text-field {
    -fx-background-color: #a9a9a9, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9, white, white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.label {
    -fx-font-size: 15px;
}

.header {
    -fx-text-fill: #283593;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.bold {
    -fx-text-fill: #283593;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.buttonUI {
    -fx-background-color: #1565C0;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.button:hover {
    -fx-background-color: #42a5f5;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #42a5f5;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 3, 0.0 , 0 , 2 );
    -fx-cursor: hand;
}